<!DOCTYPE html>
<html>
<head>
	<div th:replace="/fragments/header :: header-css" />
	<title>Administracion de Miembros</title>
</head>
<body>
	<div class="container-fluid">
	<div th:replace="/fragments/header :: header"/>
	<div th:replace="/fragments/membersmenu :: menu" />
	<form action="#" th:action="@{/members/create}" th:object="${member}" method="post">
		<div class="form-group">
			<label>Nombre</label>
    		<input type="text" class="form-control" th:field="*{name}" />
    	</div>
    	<div class="form-group">
    		<label>Email</label>
        	<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" th:field="*{email}" />
        	<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
        	<label>Password</label>
        	<input type="password" class="form-control" placeholder="Password" th:field="*{password}" /></p>
        </div>
        <DIV CLASS="form-group">
			<ul>
				<li th:each="role : ${roles}"><input type="checkbox" name="roles" th:value="${role.id}"/>
				<label th:text="${role.name}"></label>
				</li>
			</ul>        
        </DIV>
        <input type="submit" class="btn btn-primary" value="Submit" />
        <input type="reset" class="btn btn-secondary" value="Reset" />
    </form>
    </div>
	<div th:replace="/fragments/footer :: footer" />
</body>
</html>