<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="/fragments/header :: header-css" />
<title>Página principal del sistema</title>
</head>
<body>
	<div class="container-fluid">
		<div th:replace="/fragments/header :: header" />
		<div class="jumbotron">
			<h1 class="display-4">Hola!</h1>
			<p class="lead">Este es un sistema de registro de miembros y
				roles.</p>
			<hr class="my-4">
			<p>Está escrito con Spring boot 2.3.3.</p>
			<p>Utiliza las dependencias Spring MVC, Spring Data JPA</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn
				more</a>
		</div>
	</div>
	<div th:replace="/fragments/footer :: footer" />
</body>
</html>